/* GENERAL RESET */
* { margin:0; padding:0; box-sizing:border-box; font-family: Arial, sans-serif; }
body { background:#0f172a; color:white; }

/* NAVBAR */
.navbar { position: sticky; top:0; background:black; display:flex; justify-content:space-between; align-items:center; padding:15px 50px; }
.navbar ul { list-style:none; display:flex; }
.navbar ul li a { color:white; text-decoration:none; margin-left:25px; }
.logo { color:#22c55e; font-weight:bold; }

/* HERO */
.hero { height:90vh; background: linear-gradient(to right,#020617,#0f172a); display:flex; justify-content:center; align-items:center; text-align:center; }
.hero h2 { font-size:50px; }
.btn { display:inline-block; margin-top:20px; padding:12px 30px; background:#22c55e; color:black; text-decoration:none; border-radius:5px; cursor:pointer; }

/* FEATURES */
.features { padding:60px; text-align:center; }
.feature-box { display:flex; justify-content:center; gap:30px; margin-top:30px; flex-wrap:wrap; }
.feature { background:black; padding:30px; width:220px; border-radius:8px; }

/* GAMES */
.games { padding:60px; text-align:center; }
.game-grid { display:grid; grid-template-columns:repeat(auto-fit,minmax(250px,1fr)); gap:25px; margin-top:30px; }
.game-card { background:black; padding:30px; border-radius:8px; }
.play-btn { display:inline-block; padding:8px 20px; background:#22c55e; color:black; text-decoration:none; margin-top:10px; border-radius:5px; cursor:pointer; }

/* ABOUT */
.about { padding:60px; text-align:center; background:#020617; border-radius:8px; }

/* CONTACT */
.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact input,
.contact textarea {
    width: 350px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.contact textarea {
    height: 120px;
    resize: none;
}

.contact button {
    margin-top: 15px;
    padding: 10px 30px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}
.hero {
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-image 1s ease-in-out;
}


/* FOOTER */
footer { background:black; text-align:center; padding:15px; margin-top:40px; border-radius:8px; }

/* RESPONSIVE */
@media (max-width:600px){
    .navbar{padding:15px 20px;}
    .hero h2{font-size:32px;}
    .feature-box{flex-direction:column; gap:15px;}
    .game-grid{grid-template-columns:1fr; gap:20px;}
    .contact input,.contact textarea{width:90%;}
}
